mixin toggle(vars = {})
  -
    const {
      title = "",
      checked = false,
    } = vars

    const className = "toggle"
    let classNames = className + ` js-${className}`

  div(class=classNames)
    label(class=`${className}__label`)
      span(class=`${className}__title`)= title
      input(
        class=`${className}__switch-input js-${className}__switch-input`
        type="checkbox"
        checked=checked
      )
      span(class=`${className}__switch`)