include ../input-field/input-field
include ../toggle/toggle

mixin configuration-panel(vars = {})
  -
    const {
      inputMin = {},
      inputMax = {},
      inputStep = {},
      inputFrom = {},
      inputTo = {},
      toggleVertical = {},
      toggleForward = {},
      toggleRange = {},
      toggleBar = {},
      toggleTooltip = {},
      toggleScale = {},
      scale = {
        inputDensity: {},
        toggleNumbers: {},
        toggleLines: {},
      },
    } = vars

    const inputs = [
      {
        name: 'input-min',
        options: inputMin,
      },
      {
        name: 'input-max',
        options: inputMax,
      },
      {
        name: 'input-step',
        options: inputStep,
      },
      {
        name: 'input-from',
        options: inputFrom,
      },
      {
        name: 'input-to',
        options: inputTo,
      },
    ]

    const toggles = [
      {
        name: 'toggle-vertical',
        options: toggleVertical,
      },
      {
        name: 'toggle-forward',
        options: toggleForward,
      },
      {
        name: 'toggle-range',
        options: toggleRange,
      },
      {
        name: 'toggle-bar',
        options: toggleBar,
      },
      {
        name: 'toggle-tooltip',
        options: toggleTooltip,
      },
      {
        name: 'toggle-scale',
        options: toggleScale,
      },
    ]

    const className = 'configuration-panel'
    let classNames = className + ` js-${className}`

  ul(class=classNames)
    each input in inputs
      li(class=`${className}__item`)
        div(class=`${className}__${input.name} js-${className}__${input.name}`)
          +input-field(input.options)
    each toggle in toggles
      li(class=`${className}__item`)
        div(class=`${className}__${toggle.name} js-${className}__${toggle.name}`)
          +toggle(toggle.options)
    li(class=`${className}__scale`)
      h3(class=`${className}__scale-title`) Scale
      ul(class=`${className}__scale-list`)
        li(class=`${className}__item`)
          div(class=`${className}__input-scale-density js-${className}__input-scale-density`)
            +input-field(scale.inputDensity)
        li(class=`${className}__item`)
          div(class=`${className}__toggle-scale-numbers js-${className}__toggle-scale-numbers`)
            +toggle(scale.toggleNumbers)
        li(class=`${className}__item`)
          div(class=`${className}__toggle-scale-lines js-${className}__toggle-scale-lines`)
            +toggle(scale.toggleLines)