mixin head(vars = {})
  -
    const {
      title = "Just Slider Demo",
    } = vars

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Range slider for jquery")
    meta(name="keywords" content="Range slider, jquery plugin, typescript")

    link(rel="apple-touch-icon" sizes="180x180" href=require(`@favicons/apple-touch-icon.png`))
    link(rel="icon" type="image/png" sizes="32x32" href=require(`@favicons/favicon-32x32.png`))
    link(rel="icon" type="image/png" sizes="16x16" href=require(`@favicons/favicon-16x16.png`))
    link(rel="icon" type="image/png" sizes="192x192" href=require(`@favicons/android-chrome-192x192.png`))
    link(rel="icon" type="image/png" sizes="512x512" href=require(`@favicons/android-chrome-512x512.png`))
    link(rel="manifest" href=require(`@favicons/site.webmanifest`)) 
    link(rel="mask-icon" href=require(`@favicons/safari-pinned-tab.svg`) color="#5bbad5")
    meta(name="msapplication-TileColor" content="#2b5797")
    meta(name="theme-color" content="#ffffff")

    title= title